<div class="inline-block px-2 py-1 rounded-lg bg-amber-600">
    {% if resume.content and resume.getFilePath() %}
        Текст та файл
    {% elseif resume.content %}
        Текст
    {% elseif resume.getFilePath() %}
        Файл
    {% endif %}
</div>